.jpcontainer{
    width: 100%;
    height: 100%;
    
}
.jpcontainer .header{

width: 100%;
height: 35px;
line-height: 35px;
background: white;
}
.jpcontainer .content{
width: 100%;
height: calc(100% - 71px);
overflow: auto;

}
.jpcontainer .footer{
width: 100%;
height: 35px;
line-height: 35px;
background: white;
}

.jpcontainer .header label{
font-size: 12pt;
font-weight: bold;
float: left;
}

.jpcontainer .popup{
width: 100%;
height: 100%;
position: fixed;
z-index: 999;
background: rgb(0, 0, 0, 0.25);
display: none;


}
.jpcontainer .popup .popupwindow{
width: 400px;
height: 500px;
position: absolute;
background: white;
top: 50%;
left: 50%;
transform: translate(-75%, -55%);
}

.jpcontainer .popup .popupwindow .popupheader{
width: 100%;
height: 30px;
line-height: 30px;
background: #2D7ABE;
color: white;
}
.jpcontainer .popup .popupwindow .popupheader label{
float: left;
font-weight: bold;
padding-left: 5px;
}

.jpcontainer .popup .popupwindow .popupheader span{
float: right;
font-size: 16pt;
cursor: pointer;
padding-right: 5px;
}

.jpcontainer .popup .popupwindow .popupcontent{
padding: 10px;
width: calc(100% - 20px);
height: calc(100% - 65px);
overflow: auto;
background: white;
}

.jpcontainer .popup .popupwindow .popupfooter{
width: 100%;
height: 15px;
line-height: 15px;
background: #2D7ABE;
color: white;
}

.jpcontainer .popup .popupwindow .popupcontent label{
font-weight: bold;
display: block;
margin-top: 10px;

}

.jpcontainer .popup .popupwindow .popupcontent input{
width: 99%;
height: 28px;
margin-top: 3px;
border: 1px solid #CCC;
border-radius: 2px;
}

.jpcontainer .popup .popupwindow .popupcontent select{
width: 100%;
height: 32px;
margin-top: 3px;
border: 1px solid #CCC;
border-radius: 2px;
}
.jpcontainer .popup .popupwindow .popupcontent textarea{
width: 99%;
height: 60px;
margin-top: 3px;
border: 1px solid #CCC;
border-radius: 2px;
}

.jpcontainer .popup .popupwindow .popupcontent button{
margin-top: 10px;
width: 75px;
height: 30px;
font-size: 9pt;
color: white;
background: rgb(13, 150, 104); 
border: none;
border-radius: 2px;
left: 50%;
position: absolute;
transform: translate(-50%); 
}
.jpcontainer .popup .popupwindow .popupcontent button:hover{
cursor: pointer;
background: rgb(13, 180, 104);
}

.jpcontainer .content .result{
    margin: 20px;
    padding: 10px;
    width: calc(100% - 60px);
    background:white;
}


.jpcontainer .content .result .div1{
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 10pt;
    font-weight: bold;
}

.jpcontainer .content .result .div2{
   width: 100%;
   height: 35px;
   line-height: 35px;
   font-size: 9pt;
   color: grey;
}
.jpcontainer .content .result .div3{
    width:100%;
    height:35px ;
    line-height: 35px;
    background: whitesmoke;
    font-size: 9pt;
}

.jpcontainer .content .result .div1 label{
    float: left;
}

.jpcontainer .content .result .div1 span{
    float: left;
    background: pink;
    color: red;
    border-radius: 5px;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    margin-left: 5px;
}
.jpcontainer .content .result .div1 img
{
    width: 20px;
    float:right;
    margin-top: 5px;
    margin-right: 10px;

}

.jpcontainer .content .result .div1 img:hover{
   cursor: pointer;
   opacity: 5%;
}